/* logoutMessage.module.css */

.logoutMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }
  
  .logoutMessage {
    font-family: 'Acme', sans-serif;
    color: rgb(248, 246, 246);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    border: transparent;
    letter-spacing: 2px;
  }
  