/* logoutMessage.module.css */

.logoutMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .logoutMessage {
    color: white;
    background-color: #363330;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    border: transparent;
  }
  