/* register.module.css */

.register-body {
  font-family: 'Poppins', sans-serif;
  margin: 10rem auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; 
}

.register-container {
  background: transparent;
  -webkit-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 5px 2px rgba(0, 0, 0, 0.75);
  padding: 1.25rem; 
  border-radius: 8px;
  text-align: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 1.25rem; 
  border-radius: 8px;
}

.button {
  background-color: #be5111;
  color: #ffffff;
  border: none;
  padding: 0.625rem 1.25rem; 
  font-size: 1.125rem; 
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0a0a0a;
  color: #fafafa;
}

.label {
  margin-top: 0.625rem; 
  font-size: 1rem; 
  color: #555555;
}

.input {
  width: 100%;
  padding: 0.625rem; 
  margin: 0.3125rem 0 0.9375rem 0; 
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
