/* paymentMessage.module.css */

.paymentMessageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(56, 54, 54, 0.801);
    backdrop-filter: blur(15px);
  }
  
  .paymentMessage {
    font-family: 'Acme', sans-serif;
    color: rgb(248, 246, 246);
    padding: 1.25rem;
    border-radius: 5px;
    text-align: center;
    font-size: 1.625rem;
    font-weight: 700;
    border: transparent;
    letter-spacing: 2px;
  }
  