/* Products.module.css */

.productcontainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.product {
  text-align: center;
  max-width: 25rem;
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 0.625rem;
  flex: 1;
  background-color: #fff;
}

.product:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(39, 34, 34);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product img {
  height: 100%;
}

.product h3 {
  margin-bottom: 0.625rem;
}

.productName {
  color: #0b0c0c;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.productDetails {
  font-size: 1.125rem;
}

.productTitle {
  color: #0b0c0c;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0.9375rem;
  margin-bottom: 0.9375rem;
  font-family: 'Montserrat', sans-serif;
}

.detailsLink {
  display: block;
  color: rgb(10, 10, 10);
  padding: 0.625rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0.9375rem;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  font-family: 'Acme', sans-serif;
}

.detailsLink:hover {
  color: #be5111;
  text-decoration: none;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.products h1 {
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  letter-spacing: 2px;
}

.returnLink {
  display: inline-block;
  color: #070101;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 0.625rem;
}

.returnLink:hover {
  font-weight: 600;
  color: #cf6121;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

/* Dropdown button */
.dropbtn {
  background-color: #fffcfc;
  color: #0b0c0c;
  font-size: 14px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Acme', sans-serif;
}

.dropbtn:hover {
  background-color: #cf6121;
  color: #0b0c0c;
}

/* Dropdown content (hidden by default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 105px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  font-family: 'Acme', sans-serif;
}

/* Dropdown items */
.dropdownContent div {
  color: #0b0c0c;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdownContent div:hover {
  background-color: #cf6121;
}

/* Show the dropdown menu when hovering over dropdown container */
.dropdown:hover .dropdownContent {
  display: block;
}

/* Responsive styles */

@media (max-width: 1200px) {
  .productcontainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .productcontainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .productcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .productcontainer {
    grid-template-columns: 1fr;
  }
}
