/* Products.module.css */

.productcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.product {
  text-align: center; 
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 20px;
  flex: 1;
  background-color: #fff;
}

.product:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 10px rgba(39, 34, 34, 0.8); 
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product img {
  height: 100%;
}

.product h3 {
  margin-bottom: 10px;
}

.productName {
  color: #0b0c0c;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
}

.productDetails {
  font-size: 18px;
}

.productTitle {
  color: #0b0c0c;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
}

.detailsLink {
  display: block;
  color: rgb(10, 10, 10);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: 600;
}

.detailsLink:hover {
  color: #be5111;
  text-decoration: none;
  font-weight: 600;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.h1 {
  font-size: 25px;
  text-align: center;
  margin-top: 130px; 
}

.returnLink {
  display: inline-block;
  color: #070101;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
}

.returnLink:hover {
  font-weight: 600;
  color: #cf6121;
}