/* checkout.module.css */

.checkoutContainer {
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(15, 15, 15, 0.1);
  margin: 50px auto; 
}

.checkoutContainer h3 {
 font-size: 36px;
 text-align: center;
 font-weight: 600;
 margin-bottom: 20px;
 margin-top: 20px;
}

.checkoutContainer h1 {
  font-size: 22px;
  text-align: center;
 }

.paymentDetails {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.paymentDetails h2 {
  margin-bottom: 30px;
  font-size: 22px;
}

.CardElement {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.paymentError {
  color: red;
  margin-top: 10px;
}

.checkoutContainer p {
  font-size: 14px;
  color: #444;
  line-height: 1.5;
  font-weight: 400;
}

.buttonPay {
  margin-top: 35px;
  background-color: transparent;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 400;
  color: rgb(15, 15, 15);
}

.buttonPay:hover {
  cursor: pointer;
  background-color: #b94b0b;
}

/* Adjust styling for larger screens */
@media (min-width: 768px) {
  .checkoutContainer {
    margin-top: 200px; 
  }
}
