/* navigationBar.module.css */

.navbar {
  background: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  z-index: 1;
}

.welcome {
  margin-left: auto;
  margin-right: 5px;
}

.username {
  color: #cf6121;
  text-shadow: black 2px 0 1px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

.navList {
  justify-content: left;
}

.navbar li {
  color: #0f0707;
  font-size: 16px;
  display: flex;
  padding: 10px 20px;
  text-align: center;
}

  .navbar li:hover {
  font-weight: 600;
  border: 1px solid  #cf6121 ;
  box-shadow: 0 0 4px rgb(175, 101, 4);
  transition: transform 0.6s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}

.logo {
  height: 55px;
  width: 55px;
  background: url('../../resources/Logo.webp') center/cover;
}

.header {
  margin-left: 0.625rem;
  margin-right: 18.75rem;
  font-family: 'Lobster', sans-serif;
  font-size: 26px;
  text-shadow: 2px 2px 2px rgb(228, 120, 48);
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; 
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #070101;
}

.buttonLogout {
  font-family: 'Poppins', sans-serif;
  border-style: transparent;
  background-color: white;
  margin: 0 15px;
}

.buttonLogout:hover {
  background-color: white;
  color: black;
  border: 1px solid  #cf6121;
  box-shadow: 0 0 4px rgb(175, 101, 4);
  transition: transform 0.6s ease, box-shadow 0.3s ease;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
  }

  .header {
    margin-left: 19rem;
  }

  ul {
    width: 100%; 
    padding: 0; 
    display: flex;
    flex-direction: column;
  }

  li {
    margin: 10px 0; 
  }

  .buttonLogout {
    margin-left: 0; 
    margin-top: 10px; 
  }
}
