/* navigationBar.module.css */

.navbar {
  background: #ffffff;
  border: 1px solid #0f0707;
  border-top: none;
  width: 100%;
  top:0;
  left:0;
  right:0;
  display: flex;
  padding: 5px;  
  position: fixed;
  z-index: 10;
}

/* Links inside the navbar */

.navbar a {
  color: #0f0707;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  padding: 10px 20px;
  text-align: center;
}

/* Change background on mouse-over */

.navbar a:hover {
  font-weight: 600;
  background-color: #cf6121;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* The navigation bar logo */

.logo {
  height: 30px;
  width: 30px;
  background: url('../../resources/fox2.jpeg') center/cover;
  margin-top: 10px;
}


ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #070101;
}
