/* The navigation bar */

.navbar {
  background: #fffdfd;
  border: 1px solid #0f0707;
  border-top: none;
  width: 100%;
  top:0;
  left:0;
  right:0;
  display: flex;
  padding: 10px;  
  position: fixed;
  z-index: 1000;
}

/* Links inside the navbar */

.nav-links {
  list-style: none;
  gap: 20px;
}

.nav-links li {
  font-size: 18px;
}

.navbar a {
  color: #0f0707;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  padding: 10px 20px;
  text-align: center;
}

/* Change background on mouse-over */

.navbar a:hover {
  font-weight: 600;
  background-color: #cf6121;
  color: white;
  padding: 12px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 80%;
}

/* The navigation bar logo */

.logo {
  background-color: #0f0707;
  height: 50px;
  width: 50px;
  background: url('../../resources/fox2.jpeg') center/cover;
  opacity: 0.8;
}


ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: #070101;
}
